@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --yellow: #fee000;
    --pink: #fd82ff;
}

*{
    margin: 0;
}


body {
    font-family: 'Quicksand', sans-serif;
}

section {
    background-color: var(--white);
}

.hero {
    background-color: var(--black);
    height: 100vh;
    color: var(--white);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

video{
    height: 300px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
    margin-top: 0;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.social{
    margin: 10px;

}

.footer {
    background-color: var(--black);
    color: var(--white);
    height: 100vh;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

a{
    font-size: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 350px;
    justify-content: space-around;
    font-size: 30px;

}

li {
    text-decoration: none;
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 30px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.first-last-name{
    font-size: 55px;
}


.btn {
    margin-top: 20px;
    color: var(--black);
    border: none;
    background-color: var(--yellow);
    outline: none;
    font-family: 'Quicksand', sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.7s;
}

.btn:hover {
    background-color: var(--pink);
    color: var(--white);
}

.btn:active {
    transform: scale(0.8);
}

.subtext{
    font-size: 14px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav-list-aboutme{
    color: var(--white);
}

.nav-list-projects{
    color: var(--white);
}


.projects{
    background-color: var(--black);
}

.projectsBody{
    color: var(--white);
}

.projectsBody > h2 {
    margin-bottom: 220px;
}


.nav-list-footer{
    color: var(--white);
}

.project-image {
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 420px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(37, 37, 37);
}



.project-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

ol{
    list-style-type: circle;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80%;
    margin-bottom: 0;
}

.contact > h1 {
    margin: 20px;
}

.aboutMe{
    display: flex;
    margin: 40px 30px 0 30px;
    justify-content: center;
    height: 80vh;

}

.aboutMeTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.aboutMeSection{
    font-size: 20px;
    color: var(--white);
}

.aboutBody{
    background-color: var(--black);
}

.listSpace{
    padding-top: 0;
    padding-left: 0;
}

.headshot{
    height: 480px;
    border-radius: 3px;
    margin: 0 30px;
}



.project-link {
    text-decoration: none;
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}


/* Media queries */
@media (max-width: 768px) {
    .hero {
        font-size: 20px;
    }

    .video {
        height: 120px;
    }

    .nav {
        margin-right: 5px;
    }

    ul {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .first-last-name {
        font-size: 36px;
    }

    .btn {
        margin-top: 5px;
        height: 25px;
        width: 100px;
        font-size: 12px;
    }

    .subtext {
        font-size: 10px;
    }
}