@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

video{
    height: 300px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
    margin-top: 0;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    padding-bottom: 20px;
}

.social{
    margin: 10px;

}

.footer {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

a{
    font-size: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 350px;
    justify-content: space-around;
    font-size: 30px;

}

li {
    text-decoration: none;
    padding: 20px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 30px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.first-last-name{
    font-size: 55px;
}


.btn {
    margin-top: 20px;
    color: black;
    border: none;
    background-color: #fee000;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.7s;
}

.btn:hover {
    background-color: #fd82ff;
}

.btn:active {
    background-color: #A9A9A9;
    color: #808080;
    transform: scale(0.9);
}

.subtext{
    font-size: 14px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    /* padding: 80px; */
    height: 100vh;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav-list-aboutme{
    color: white;
    /* border: 1px solid black; */
}

.nav-list-projects{
    color: white;
}


.projects{
    background-color: black;
}

.projectsBody{
    color: white;
}

.nav-list-footer{
    color: white;
}

.project-card {
    width: 300px;
    height: 420px;
    /* box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.646); */
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(41, 40, 40);
}

.project-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

ol{
    list-style-type: circle;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid white; */
    height: 80%;
    margin-bottom: 0;
}

.aboutMe{
    display: flex;
    margin: 40px 30px 0 30px;
    /* border: 1px solid black; */
    justify-content: center;
    height: 80vh;

}

.aboutMeTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutMeSection{
    font-size: 20px;
    color: white;
}

.aboutBody{
    background-color: black;
}

.listSpace{
    /* padding: 0; */
    padding-top: 0;
    padding-left: 0;
}

.headshot{
    height: 480px;
    border-radius: 3px;
    margin: 0 30px;
    /* box-shadow: -19px 25px 33px -7px rgba(0,0,0,0.52); */
}

.project-image {
    margin-top: 25px;
    width: 250px;
    height: 200px;
    border-radius: 15px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #white;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

/* Media queries start here */

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;

    }

.project-container {
    display: flex;
    flex-direction: column;
    height: 140vh;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.project-card {
    width: 700px;
    height: 920px;
    padding: 10px;
    margin-top: 40px;
}
    .aboutMe{
        flex-direction: column;
        align-items: center;
    }
    a{
        font-size: 29px;
    }

    nav {
        display: flex;
        justify-content: center; 
    }
    
    .headshot{
        height: 700px;
        margin: 30px 0;
    }

}