@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
section {
    background-color: white;
}

.hero {
    background-color: #000000;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
    height: 80%;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    margin: 10px;
}

footer {
    background-color: black;
    display: flex;
    color: white;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.navBarHome{
    margin-right: 50px;
    margin-top: 30px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.first-last-name{
    font-size: 55px;
}


.btn {
    margin-top: 20px;
    border: none;
    background-color: white;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.6s;
}

.btn:hover {
    background-color: #fee000;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.subtext{
    font-size: 14px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    height: 100vh;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    transform: scale(0.6);
    border-radius: 5px;
    /* width: 300px; */
    margin-left: 80px;
    box-shadow: -13px 14px 16px 0px rgba(0,0,0,0.27);
}

.aboutMeContainer{
    display: flex;
    justify-content: space-between;
}

.headshot-container {
    display: flex;
    height: 100%;
    /* align-items: flex-start;
    border: 2px solid black; */
}

.projects{
    background-color: rgba(231, 227, 227, 0.915);
}

.nav-list-projects {
    color: black;
}
.nav-list-footer{
    color: white;
}

.project-card {
    width: 300px;
    height: 420px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

/* Media queries start here */

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 15px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #000000;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}